[dev-packages]
flake8 = "*"
mypy = "*"
pylint = "*"
pytest = "*"
python-dotenv = "*"
backoff = "*"
responses = "*"
pytest-profiling = "*"
python-language-server = "*"
pyls-mypy = "*"
pyls-isort = "*"
pytest-order = "*"

[packages]
#3scale-api = {editable = true,path = "./../mkudlej-3scale-api-python"} 
3scale-api = {git = "https://github.com/3scale/3scale-api-python.git",editable = true,ref = "crd_fixes"}
openshift-client = "*"

[requires]
python_version = "3"
