[dev-packages]
flake8 = "*"
mypy = "*"
pylint = "*"
black = "*"
pytest = "<8.0.0"
python-dotenv = "*"
backoff = "*"
python-language-server = "*"
pyls-mypy = "*"
pyls-isort = "*"
pytest-order = "*"

[packages]
3scale-api = "*"
openshift-client = "*"

[requires]
python_version = "3"
